.loginPage {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.loginPage form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginPage form input {
    margin-bottom: 15px;
}

.loginPage form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.loginPage form .message a {
    color: #4CAF50;
    text-decoration: none;
}