<toolbar></toolbar>
<div class="home">
    <message></message>
    <h1>
        Hi mate !
    </h1>
    <span>(curse rudeness => TODO : user service and add a real name)</span>

    <h2>Select a bot</h2>

    <ul>
        <li *ngFor="let botName of botNames">
            <a [routerLink]="['/build']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{botName}}</a>
        </li>
    </ul>

    <h2>Create a bot</h2>

    <form (submit)="addName()">
        <input [(ngModel)]="newBotName" name="newBotName" placeholder="Bot Name" required>
        <button type="submit">Add</button>

        <span>No bot service implemented, new bot will be deleted on navigation change</span>
    </form>

</div>